#!ipxe

echo Ubuntu 14.04
set ksuri http://{{ data['nodename'] }}.justhost.ru:5000/static/{{ data['vmid'] }}.pxe
set urlmirror http://mirror.yandex.ru/ubuntu/dists/vivid/main/installer-i386/current/images/netboot/ubuntu-installer/i386/
echo Load kernel...
kernel ${urlmirror}/linux auto=true netcfg/choose_interface=auto \\
  netcfg/link_detection_timeout=0 netcfg/disable_dhcp=true \\
  netcfg/get_ipaddress={{ data['ip'] }} \\
  netcfg/get_netmask={{ data['netmask'] }} \\
  netcfg/get_gateway={{ data['gateway'] }} \\
  netcfg/get_nameservers={{ data['dns1'] }} \\
  netcfg/confirm_static=true \\
  preseed/url=${ksuri} \\
  language=en interface=auto hostname={{ data['hostname'] }} \\
  domain=justhost.ru DEBCONF_DEBUG=5 --
echo Load initrd...
initrd ${urlmirror}/initrd.gz
echo Boot
boot
