#version=DEVEL
install

#logging --host=log.justhost.ru
text

url --url=http://mirror.yandex.ru/centos/6/os/x86_64
lang en_US.UTF-8
keyboard us

# Настройка сети
network --onboot yes --bootproto static --ip {{ data['ip'] }} --netmask {{ data['netmask'] }} --gateway {{ data['gateway'] }} --noipv6 --nameserver {{ data['dns1'] }} --hostname="{{ data['hostname'] }}"

rootpw  "{{ data['rootpass'] }}"
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc Europe/Moscow

%include /tmp/part-include

repo --name="CentOS"  --baseurl=http://mirror.yandex.ru/centos/6/os/x86_64 --cost=100

poweroff

%packages
@core
nano
wget
mc
%end

%pre --log=/root/install-pre.log
#!/bin/bash

echo "Linux box by Justhost.ru. Created `/bin/date`" > /etc/motd

echo "nameserver {{ data['dns1'] }}" > /etc/resolv.conf

# Очистка диска
echo "zerombr yes" >> /tmp/part-include
echo "clearpart --all --initlabel" >> /tmp/part-include

# Загрузчик
echo "bootloader --location=mbr --driveorder=vda --append=\"nomodeset crashkernel=auto rhgb quiet\"" >> /tmp/part-include

# Разбивка диска LVM
echo "part /boot --size=512 --ondisk=vda --asprimary --fstype=ext4" >> /tmp/part-include
echo "part pv.01 --size=1 --grow --ondisk=vda" >> /tmp/part-include
echo "volgroup vg_jh pv.01" >> /tmp/part-include
echo "logvol swap --fstype=swap --name=lv_swap --vgname=vg_jh --size=512 --maxsize=512" >> /tmp/part-include
echo "logvol / --vgname=vg_jh --size=1 --grow --name=lv_root" >> /tmp/part-include

%end

%post --log=/root/install-post.log

exec < /dev/tty6 > /dev/tty6
chvt 6

PATH=/bin:/sbin:/usr/bin:/usr/sbin
export PATH

wget https://raw.githubusercontent.com/servancho/pytin/master/scripts/centos/setup.sh -O /root/setup.sh
bash /root/setup.sh && rm /root/setup.sh

perl -pi -e 's/IG_TCP_CPORTS="[^\"]*"/IG_TCP_CPORTS="21,22,25,80,110,143,443,465,587,953,993,995,2525,8080,8083,8443,12000_12100"/g' /etc/apf/conf.apf
perl -pi -e 's/IG_UDP_CPORTS="[^\"]*"/IG_UDP_CPORTS="53,953"/g' /etc/apf/conf.apf

# Проблемы с лимитом на открытые файлы
# ulimit -n
echo "*               soft    nofile          8192" >> /etc/security/limits.conf
echo "*               hard    nofile          8192" >> /etc/security/limits.conf
echo "root            soft    nofile          8192" >> /etc/security/limits.conf
echo "root            hard    nofile          8192" >> /etc/security/limits.conf

wget http://vestacp.com/pub/vst-install-rhel.sh -O /root/vesta.sh
bash /root/vesta.sh --force --email "{{ data['user'] }}@{{ data['hostname'] }}" --hostname {{ data['hostname'] }} --interactive no --lang ru --password {{ data['rootpass'] }}

%end
