#!ipxe

echo {{ uuid }}
set urlmirror http://mirror.yandex.ru/centos/6.7/os/x86_64
echo Load kernel...
kernel ${urlmirror}/images/pxeboot/vmlinuz repo=${urlmirror}/ text ip=dhcp ks=http://pxe.justhost.ru/uuid/{{ uuid }}.auto.php
echo Load initrd...
initrd ${urlmirror}/images/pxeboot/initrd.img
echo Boot
boot
