# CentOS version
CENT_OS_VER=7  # 6 or 7

# Change this parameters
USER_ID=<user_id>
VMID=<id_of_the_vm>
VMNAME=<name_of_the_vm>

# HDD size in Gb
HDDGB=5

# RAM size in Gb
MEMMB=1024

# CPU cores
VCPU=1

IPADDR=<ip_of_the_vm>
GW=<gateway_of_the_vm>
NETMASK=<netmask_of_the_vm>
